name: on-pull-request
on: [pull_request]
  
  ##tesst123##

jobs:
  testing:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      tested: ${{steps.testing.outputs.tested}}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Lint    
        uses: wagoid/commitlint-github-action@v1

      - name: Pytest
        id: testing
        run: |
          python3 -m pip install pytest 
          PATH="/home/runner/.local/bin:${PATH}"
          export PATH
          for FILEPATH in $TRIGGERS;
            do 
              pytest $FILEPATH;
            done
          echo "::set-output name=tested::true"; 
        env:
          TRIGGERS: test_builder.py
